<body>
	<div class="wrapper">
		<div class="one" ng-show="automobileEntries.length != 0">
			<div class="chartDiv">
				<canvas id="pie" class="chart chart-pie myChart" chart-data="automobileData" chart-labels="automobileLabels" chart-options="options"></canvas> 
			</div>
		</div>
		<div class="two title">
			<h1>Automobile Page</h1>
			<div ng-show="automobileEntries.length == 0">
				No Entries for selected month
			</div><br>
			<div class="dropdown center">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedMonth}}
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
				    <li ng-click="all()"><a>All Months</a></li>
				    <li ng-click="january()"><a>January</a></li> 
				    <li ng-click="february	()"><a>February</a></li>
				    <li ng-click="march()"><a>March</a></li>
					<li ng-click="april()"><a>April</a></li>
					<li ng-click="may()"><a>May</a></li>
					<li ng-click="june()"><a>June</a></li>
					<li ng-click="july()"><a>July</a></li>
					<li ng-click="august()"><a>August</a></li>
					<li ng-click="september()"><a>September</a></li>
					<li ng-click="october()"><a>October</a></li>
					<li ng-click="november()"><a>November</a></li>
					<li ng-click="december()"><a>December</a></li>   
				</ul>
			</div><br>
			<div ng-show="showAutomobileTable == true" class="center">
				<button ng-click="delete = !delete;" class="btn btn-default" type="button">Remove Items Toggle</button>
			</div><br>
			<table ng-cloak ng-show="showAutomobileTable == true" class="center">
				<tr>
					<th>Amount</th>
					<th>Description</th>
					<th>Date</th>
					<th ng-show="delete == true">Delete</th>
				</tr>
				<tr ng-repeat="automobileEntry in automobileEntries">
					<td style="color: red;">${{automobileEntry.amount}}</td>
					<td>{{automobileEntry.description}}</td>
					<td>{{automobileEntry.automobileDate}}</td>
					<td ng-click="deleteAutomobileEntry(automobileEntry)" ng-show="delete == true" class="delete-row-entry">
						<span class="glyphicon glyphicon-remove delete-button" aria-hidden="true"></span>
					</td>
				</tr>
			</table>
		</div>
		<div class="three" ng-show="automobileEntries.length != 0">
			<div class="chartDiv">
				<canvas id="bar" class="chart chart-bar myChart" chart-data="automobileData2" chart-labels="automobileLabels2" chart-series="automobileSeries"></canvas>
			</div>
		</div>
		<div class="four" ng-show="automobileEntries.length != 0">
			
		</div>
		<div class="five" ng-show="automobileEntries.length != 0">
			
		</div>
		<div class="six" ng-show="automobileEntries.length != 0">
			
		</div>
	</div>
</body>
