<html>
<head>
	<link rel="stylesheet" type="text/css" href="resources/css/login.css">
</head>
<body ng-controller="ForgotPasswordController">
  
	<div class="container" id="login">
		<section id="content">
			<form>
				<h1>Password</h1>
				<div>
					<input type="text" placeholder="Username" required="" id="username" ng-model="username"/>
				</div>
				<div id="getPassword">
					<input type="submit" value="Get Password" ng-click="forgotPassword()"/>
				</div>
			</form><!-- form -->
		</section><!-- content -->
	</div><!-- container -->
	
	<div id="showPassword">
		<div ng-show="password">
			Your password is: {{password}}<br><br>
		</div>
		<button type="button" class="btn btn-primary btn-lg" ui-sref="login">Login Page</button><br><br>
	</div>
	
	<div class="alert alert-danger" ng-show="noUserFound">
	  <strong>Username not found.</strong>
	</div>

</body>
</html>
