<div ng-controller="IncomeController">
	<div class="modal-header">
		<h3 class="modal-title">Income Entry</h3>
		{{entry}}<br>
		{{bitch}}
		{{username}}
	</div>
	    
	<div>
		<div class="modal-body">
			<h5>Input new password:</h5>
			{{entry}}<br>
			{{bitch}}
			<input type="text" placeholder="password" ng-model="pass" ng-pattern="/^[a-zA-Z0-9]+$/" required>
	    </div>
		<div class="modal-footer">
			<div class="row">
	   			<div class="col-sm-6">
	   				<div class="alert alert-success" ng-show="incomeEntry == true">
						<strong>Success!</strong> Entry Success
					</div>
					<div class="alert alert-danger" ng-show="incomeEntry == false">
						<strong>Alert!</strong> Entry Failed
					</div>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-primary" ng-click="incomeEntry()">Save Entry</button>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>