<body>
	<div class="wrapper">
		<div class="one">
			<div class="chartDiv">
				<canvas id="pie" class="chart chart-pie myChart" chart-data="incomeData" chart-labels="incomeLabels" chart-options="options"></canvas> 
			</div>
		</div>
		<div class="two title"><h1>Income Page</h1></div>
		<div class="three">
			<div class="chartDiv">
				<canvas id="pie" class="chart chart-pie myChart" chart-data="incomeData" chart-labels="incomeLabels" chart-options="options"></canvas> 
			</div>
		</div>
		<div class="four">
			<div class="chartDiv">
				<canvas id="bar" class="chart chart-bar myChart" chart-data="incomeData2" chart-labels="incomeLabels2" chart-series="incomeSeries"></canvas>
			</div>
		</div>
		<div class="five">
			<div class="dropdown" ng-cloak ng-show="showIncomeTable == true">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedMonth}}
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
				    <li ng-click="all()"><a>All Months</a></li>
				    <li ng-click="january()"><a>January</a></li> 
				    <li ng-click="february	()"><a>February</a></li>
				    <li ng-click="march()"><a>March</a></li>
					<li ng-click="april()"><a>April</a></li>
					<li ng-click="may()"><a>May</a></li>
					<li ng-click="june()"><a>June</a></li>
					<li ng-click="july()"><a>July</a></li>
					<li ng-click="august()"><a>August</a></li>
					<li ng-click="september()"><a>September</a></li>
					<li ng-click="october()"><a>October</a></li>
					<li ng-click="november()"><a>November</a></li>
					<li ng-click="december()"><a>December</a></li>   
				</ul>
			</div><br>
			<table ng-cloak ng-show="showIncomeTable == true">
				<tr>
					<th>Amount</th>
					<th>Description</th>
					<th>Date</th>
				</tr>
				<tr ng-repeat="incomeEntry in incomeEntries">
					<td>{{incomeEntry.amount}}</td>
					<td>{{incomeEntry.description}}</td>
					<td>{{incomeEntry.incomeDate}}</td>
				</tr>
			</table>
		</div>
		<div class="six">
			<div class="chartDiv">
				<canvas id="pie" class="chart chart-pie myChart" chart-data="incomeData" chart-labels="incomeLabels" chart-options="options"></canvas> 
			</div>
		</div>
	</div>
</body>
